{% extends 'app1/base.html' %}

{% block content %}
    <div class="welcome">
		<div class="container">
			<div class="welcome-info">
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<ul id="myTab" class=" nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" >
							<i class="fa fa-laptop" aria-hidden="true"></i>
							<h5>Electronics</h5>
						</a></li>
						<li role="presentation"><a href="#carl" role="tab" id="carl-tab" data-toggle="tab">
							<i class="fa fa-female" aria-hidden="true"></i>
							<h5>Fashion</h5>
						</a></li>
						<li role="presentation"><a href="#james" role="tab" id="james-tab" data-toggle="tab">
							<i class="fa fa-gift" aria-hidden="true"></i>
							<h5>Photo & Gifts</h5>
						</a></li>
						<li role="presentation"><a href="#decor" role="tab" id="decor-tab" data-toggle="tab">
							<i class="fa fa-home" aria-hidden="true"></i>
							<h5>Home Decor</h5>
						</a></li>
						<li role="presentation"><a href="#sports" role="tab" id="sports-tab" data-toggle="tab">
							<i class="fa fa-motorcycle" aria-hidden="true"></i>
							<h5>Sports</h5>
						</a></li>
						<li role="presentation"><a href="#food" role="tab" id="food-tab" data-toggle="tab">
							<i class="fa fa-cutlery" aria-hidden="true"></i>
							<h5>Food</h5>
						</a></li>
					</ul>
					<div class="clearfix"> </div>

                    <div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
							<div class="tabcontent-grids">
								<div id="owl-demo" class="owl-carousel">
                                    {% for p in product %}
                                        <div class="item">
										    <div class="glry-w3agile-grids agileits">
											    <a href="{% url 'app1:details' p.id %}"><img src="{{ p.product_Image.url }}" alt="img" style="width: 250px;height: 300px"></a>
											    <div class="view-caption agileits-w3layouts">
												<h4><a href="products.html">{{ p.product_name }}</a></h4>
												<p>{{ p.product_description }}</p>
												<h5>₹{{ p.product_cost }}</h5>
												    <form action="#" method="post">
                                                        {% csrf_token %}
											    		<input type="hidden" name="cmd" value="_cart" />
										    			<input type="hidden" name="add" value="1" />
									    				<input type="hidden" name="w3ls_item" value="Audio speaker" />
								    					<input type="hidden" name="amount" value="100.00" />
							    						<button type="submit" class="w3ls-cart" ><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
						    						</form>
					    						</div>
				    						</div>
			    						</div>
                                    {% endfor %}
                </div>
            </div>
        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                {% endblock %}