{% extends 'app1/base.html' %}

{% block content %}
    <div class="products">
		<div class="container">
			<div class="col-md-9 product-w3ls-right">
                    <div class="products-row">
                        {% for p in product %}

                            <div class="col-md-3 product-grids">
                                <div class="agile-products">
                                    <div class="new-tag"><h6>20%<br>Off</h6></div>
                                    <a href="{% url 'app1:details' p.id %}"><img src="{{ p.product_Image.url }}" class="img-responsive" alt="img"></a>
                                    <div class="agile-product-text">
                                        <h5><a href="{% url 'app1:details' p.id %}">{{ p.product_name }}</a></h5>
                                        <h6>{{ p.product_cost }}</h6>
                                        <form action="#" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="cmd" value="_cart" />
                                            <input type="hidden" name="add" value="1" />
                                            <input type="hidden" name="w3ls_item" value="Audio speaker" />
                                            <input type="hidden" name="amount" value="100.00" />
                                            <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
{% endblock %}